PUSHI 0
PUSHI 0

START
JUMP main

main:
PUSHS "Digite x"
WRITES
PUSHS "\n"
WRITES
READ
ATOI
STOREG 0
PUSHG 0
DUP 1
PUSHI 0
INF
JZ fimPreDef1
PUSHI -1
MUL
fimPreDef1:
STOREG 0
PUSHG 0
PUSHI 1
PUSHI -1
MUL
MUL
DUP 1
PUSHI 0
INF
JZ fimPreDef2
PUSHI -1
MUL
fimPreDef2:
STOREG 1
PUSHS "x,y é"
WRITES
PUSHS " "
WRITES
PUSHG 0
WRITEI
PUSHS " "
WRITES
PUSHG 1
WRITEI
PUSHS"\n"
WRITES

STOP