PUSHI 2
PUSHI 5

START
JUMP main

main:
PUSHG 0
DUP 1
PUSHG 1
PUSHI 1
SUB
inicioloopPreDef1:
DUP 1
JZ fimloopPreDef1
SWAP
PUSHSP
PUSHI -2
PADD
LOAD 0
MUL
SWAP
PUSHI 1
SUB
JUMP inicioloopPreDef1
fimloopPreDef1:
POP 1
SWAP
POP 1
WRITEI
PUSHS"\n"
WRITES

STOP